container
    width:100%
.bienvenida
    background: url(../header-component/imagenes/smooth-turquoise.jpg)       
    background-size: 100% 100%
    width: 100%
    height: 100px 
    padding:0px
    margin:0px

.login 
   position: absolute;
   right: 10px;

.cnfusr 
   font-size: 18px
   font-weight: bold
   margin: 10px
   padding:0px 120px 0px 0px

.cnfpassw
   font-size: 18px
   font-weight: bold
   padding:10px 150px 0px 0px

.inpdist
  padding:0px 30px 30px 0px

.inppsw
  padding:0px 30px 30px 0px

.btentr
    padding:6px 10px 6px 7px
    margin: 0px 0px  25px 0px